.page-register {
    //background-color: black;
    
    &>section {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        &>.container {
            max-width: 90%;
            margin: auto;
            width: 33rem;
            padding: 2rem 0;
            
            form {
                //label {
                    @media screen and (min-width: $small) {
                        label[for="first-name"] {
                            width: calc(50% - 0.5rem);
                        }
            
                        label[for="last-name"] {
                            width: calc(50% - 0.5rem)
                        }
            
                        label[for="birthday"] {
                            width: calc(40% - 0.5rem);
                        }
            
                        label[for="cpf"] {
                            width: calc(60% - 0.5rem);
                        }
            
                        label[for="email"] {
                            width: calc(100%);
                        }
            
                        label[for="password"] {
                            width: calc(50% - 0.5rem);
                        }
            
                        label[for="password-confirm"] {
                            width: calc(50% - 0.5rem)
                        }
                    }
                //}
            }
        }
    }
}