.page-home {
    header {
        display: block;

        .btn-admin {
            margin: 1rem;
            width: fit-content;
            
            &.left {
                float: left;
            }

            &.right {
                float: right;
            }

            img {
                height: 3rem;
            }

            form {
                display: none;
                width: 0;
                height: 0;
                opacity: 0;
                z-index: -1;
            }
        }
    }
}