.page-login {
    //background-color: black;
    
    &>section {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        &>.container {
            max-width: 90%;
            margin: auto;
            width: 30rem;

            form {
                label {
                    
                }
            }

            footer {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                a {
                    margin-top: 0.3rem;
                    text-decoration: none;
                    color: #000000;

                    &:hover, &:focus {
                        transform: translateY(-0.1rem);
                    }
                }
            }
        }
    }
}