.page-login {
    //background-color: black;
    
    &>section {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem 0;
        
        &>.container {
            max-width: 90%;
            margin: auto;
            width: 30rem;

            form {
                label {
                    
                }
            }

           
        }
    }
}