@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --color-green-1: #1abc9c;
  --color-grey-1: #f1f1f1; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif !important; }

.hidden-title {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  color: transparent;
  line-height: 0; }

.container {
  max-width: "1280px"; }

.color-green-1 {
  color: var(--color-green-1); }

.color-grey-1 {
  color: var(--color-grey-1); }
